<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ title }}</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="nim" aria-describedby="emailHelp" placeholder="NIM" v-model="student.nim" v-on:keyup.enter="add" autofocus :disabled="loading">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name" v-model="student.name" v-on:keyup.enter="add" :disabled="loading">
                </div>
                <button type="button" class="btn btn-warning" v-on:click="cancel" :disabled="loading">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="add" :disabled="loading">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'hello',
  data () {
    return {
        title: "Add Student",
        db: null,
        collection: "students",
        student: {
            nim: "",
            name: ""
        },
        loading: true
    }
  },
  methods: {
      cancel: function(){
            this.$router.replace('/student')
      },
    add: function(){
        if (this.student.nim == "" || this.student.name == ""){
            alert("Data is required");
        }else{
            this.loading = true;
            this.db.collection(this.collection).add(this.student)
            .then((docRef) => {
                // alert("Document written with NIM: " + docRef.nim);
                // this.search();
                this.$router.replace('/student')
            })
            .catch((error) => {
                alert("Error adding document: " + error.toString());
                this.loading = false;
            });
        }
    }
  },
  mounted(){
      
    // Initialize Cloud Firestore through Firebase
    this.db = firebase.firestore();

    // Disable deprecated features
    this.db.settings({
        timestampsInSnapshots: true
    });
    this.loading = false;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a{
    color: white;
}
</style>