<template>
  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ title }}</h3>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="form-inline">
                    <div class="form-group mx-sm-3">
                        <label for="q" class="sr-only">Search</label>
                        <input type="text" class="form-control" id="q" placeholder="Type here to search..." v-model="q" v-on:keyup="search">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <router-link to="student/add" class="btn btn-primary" style="position: absolute; right: 20px;">Add</router-link>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
                <table class="table table-stripped table-bordered">
                    <tr>
                        <th width="50px">#</th>
                        <th width="300px">NIM</th>
                        <th>Name</th>
                        <th width="200px">Action</th>
                    </tr>
                    <!-- <tr>
                        <td>#</td>
                        <td><input type="text" class="form-control" v-model="student.nim" placeholder="NIM"/></td>
                        <td><input type="text" class="form-control" v-model="student.name" placeholder="Name"/></td>
                        <td><button type="button" class="btn btn-success" v-on:click="add">Add</button></td>
                    </tr> -->
                    <tr v-if="students.length == 0 && !loading">
                        <td colspan="4" align="center"><i>No data found.</i></td>
                    </tr>
                    <tr v-if="loading">
                        <td colspan="4" align="center"><i>Loading...</i></td>
                    </tr>
                    <tr v-for="(obj, index) in students" v-bind:key="index" v-if="!loading">
                        <td align="right">{{(index+1)}}</td>
                        <td align="center">{{obj.nim}}</td>
                        <td>{{obj.name}}</td>
                        <td><button type="button" class="btn btn-danger btn-sm" v-on:click="remove(obj.id)">Delete</button></td>
                    </tr>
                </table>
            </div>
        </div>
  </div>
</template>

<script>
import firebase from 'firebase';
export default {
  name: 'hello',
  data () {
    return {
        title: "Students",
        db: null,
        q: "",
        collection: "students",
        student: {
            nim: "",
            name: ""
        },
        loading: true,
        students: []
    }
  },
  methods: {
    remove: function(id){
        this.db.collection(this.collection).doc(id).delete()
        .then(() => {
            // console.log("Document successfully deleted!");
            // this.search();
        }).catch((error) => {
            this.search();
        });
    },
    search: function(){
        // this.loading = true;
        var col = this.db.collection(this.collection);
        col.orderBy("nim").get().then((querySnapshot) => {
            this.students = [];
            querySnapshot.forEach((doc) => {
                var data = doc.data();
                if (data.nim.toLowerCase().indexOf(this.q.toLowerCase()) >= 0 || data.name.toLowerCase().indexOf(this.q.toLowerCase()) >= 0){
                    var student = {
                        id: doc.id,
                        nim: data.nim,
                        name: data.name
                    }
                    this.students.push(student);
                }
                // console.log(`${doc.nim} => ${doc.data()}`);
            });
            this.loading = false;
        });
    },
    add: function(){
        this.db.collection(this.collection).add(this.student)
        .then((docRef) => {
            // alert("Document written with NIM: " + docRef.nim);
            // this.search();
            this.student = {
                nim: "",
                name: ""
            }
        })
        .catch((error) => {
            alert("Error adding document: " + error.toString());
        });
        // this.student.nim = "";
        // this.student.name = "";
    }
  },
  mounted(){
      
    // Initialize Cloud Firestore through Firebase
    this.db = firebase.firestore();

    // Disable deprecated features
    this.db.settings({
        timestampsInSnapshots: true
    });
    this.db.collection(this.collection)
    .onSnapshot((snapshot) => {
        this.search();
    }, (error) => {
        // alert(error);
    });

    // this.search();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
th{
    text-align: center;
}
</style>